body {
    background-color: #232323 ;
    margin: 0 ;
    font-family: "Montserrat","Avenir" ;
}
.square {
    width:30% ;
    background-color: purple ;
    padding-bottom: 30% ;
    float:left ;
    margin: 1.66% ;
    border-radius: 15% ; 
    transition: background 0.6s ;
    -webkit-transition: background 0.6s ;
    -moz-transistion: background 0.6s ;
}
#container{
    max-width: 600px ;
    margin: 20px auto ;
}
h1 {
    color: white ;
    text-align: center ;
    background: steelblue ;
    margin: 0 ;
    font-weight: normal ;
    text-transform: uppercase ;
    line-height: 1.1 ;
    padding: 20px 0 ;
}
#stripe {
    background: white ;
    height: 30px ;
    text-align: center ;
    color: black ;
    
}
.selected {
    background: blue ;
}
#message {
    display: inline-block ;
    width: 20% ;
}
#colorDisplay {
    font-size: 200% ;
}
button {
    border: none ;
    background: none ;
    text-transform: uppercase ;
    height: 100%;
    font-weight: 700 ;
    color: steelblue ;
    letter-spacing: 1px ;
    font-size: inherit ;
    transition: all 0.4s ;
}
button:hover{
    color: white ;
    background: steelblue ;
}